@font-face {
  font-family: "Mona Sans";
  src: 
    url("https://github.githubassets.com/static/fonts/github/mona-sans.woff2") format("woff2 supports variations"),
    url("https://github.githubassets.com/static/fonts/github/mona-sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

*, :before, :after {
  box-sizing: border-box;
}

:root {
  --offset-start: max(.5rem, env(safe-area-inset-left));
  --offset-end: max(.5rem, env(safe-area-inset-right));


  --gray1: hsl(0, 0%, 99.0%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93.0%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78.0%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9.0%);

  --plum1: hsl(292, 90.0%, 99.4%);
  --plum2: hsl(300, 100%, 98.6%);
  --plum3: hsl(299, 71.2%, 96.4%);
  --plum4: hsl(299, 62.0%, 93.8%);
  --plum5: hsl(298, 56.1%, 90.5%);
  --plum6: hsl(296, 51.3%, 85.8%);
  --plum7: hsl(295, 48.2%, 78.9%);
  --plum8: hsl(292, 47.7%, 70.8%);
  --plum9: hsl(292, 45.0%, 51.0%);
  --plum10: hsl(292, 50.2%, 46.9%);
  --plum11: hsl(292, 60.0%, 42.5%);
  --plum12: hsl(291, 66.0%, 14.0%);

  --tomato11: hsl(10, 82.0%, 43.5%);
  --green11: hsl(153, 67.0%, 28.5%);
  
  --blue11: hsl(211, 100%, 43.2%);


  --yellow1: hsl(60, 54.0%, 98.5%);
  --yellow2: hsl(52, 100%, 95.5%);
  --yellow3: hsl(55, 100%, 90.9%);
  --yellow4: hsl(54, 100%, 86.6%);
  --yellow5: hsl(52, 97.9%, 82.0%);
  --yellow6: hsl(50, 89.4%, 76.1%);
  --yellow7: hsl(47, 80.4%, 68.0%);
  --yellow8: hsl(48, 100%, 46.1%);
  --yellow9: hsl(53, 92.0%, 50.0%);
  --yellow10: hsl(50, 100%, 48.5%);
  --yellow11: hsl(42, 100%, 29.0%);
  --yellow12: hsl(40, 55.0%, 13.5%);

}

@media (prefers-color-scheme: dark) {
  :root {
    --gray1: hsl(0, 0%, 8.5%);
    --gray2: hsl(0, 0%, 11.0%);
    --gray3: hsl(0, 0%, 13.6%);
    --gray4: hsl(0, 0%, 15.8%);
    --gray5: hsl(0, 0%, 17.9%);
    --gray6: hsl(0, 0%, 20.5%);
    --gray7: hsl(0, 0%, 24.3%);
    --gray8: hsl(0, 0%, 31.2%);
    --gray9: hsl(0, 0%, 43.9%);
    --gray10: hsl(0, 0%, 49.4%);
    --gray11: hsl(0, 0%, 62.8%);
    --gray12: hsl(0, 0%, 93.0%);

    --plum1: hsl(301, 20.0%, 9.4%);
    --plum2: hsl(300, 29.8%, 11.2%);
    --plum3: hsl(298, 34.4%, 15.3%);
    --plum4: hsl(297, 36.8%, 18.3%);
    --plum5: hsl(296, 38.5%, 21.1%);
    --plum6: hsl(295, 40.4%, 24.7%);
    --plum7: hsl(294, 42.7%, 30.6%);
    --plum8: hsl(292, 45.1%, 40.0%);
    --plum9: hsl(292, 45.0%, 51.0%);
    --plum10: hsl(295, 50.0%, 55.4%);
    --plum11: hsl(300, 60.0%, 62.0%);
    --plum12: hsl(296, 74.0%, 95.7%);

    --tomato11: hsl(10, 85.0%, 62.8%);
    --green11: hsl(151, 50.0%, 53.2%);
    
    --blue11: hsl(210, 100%, 66.1%);

    --yellow1: hsl(45, 100%, 5.5%);
    --yellow2: hsl(46, 100%, 6.7%);
    --yellow3: hsl(45, 100%, 8.7%);
    --yellow4: hsl(45, 100%, 10.4%);
    --yellow5: hsl(47, 100%, 12.1%);
    --yellow6: hsl(49, 100%, 14.3%);
    --yellow7: hsl(49, 90.3%, 18.4%);
    --yellow8: hsl(50, 100%, 22.0%);
    --yellow9: hsl(53, 92.0%, 50.0%);
    --yellow10: hsl(54, 100%, 68.0%);
    --yellow11: hsl(48, 100%, 47.0%);
    --yellow12: hsl(53, 100%, 91.0%);
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--gray1);
  color: var(--gray12);
  font-family: 'Mona Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

small, .small {
  font-size: .875em;
}

.muted {
  color: var(--gray11);
}

.emoji  {
  height: 1em;
  width: 1em;
}

a {
  color: var(--plum11);
}

a:visited {
  color: var(--plum12);

}



.site-header {
  padding-block: .5rem;
  padding-inline: var(--offset-start) var(--offset-end);
  border-block-end: 1px solid var(--gray6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header h1 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 620;
  font-variation-settings: "ital" 0;
  font-stretch: 125%;
  margin: 0;
}

.site-header h1 a {
  text-decoration: none;
  color: inherit;
}




.display-name {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  gap: .125rem;
}




.toot {
  border-block-end: 1px solid var(--gray6);
  padding-block: .75rem;
  padding-inline: var(--offset-start) var(--offset-end);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.highlighted {
  background-color: var(--gray5);
}

.toot header {
  font-size: .875em;
  margin-block-end: .5rem;
  gap: .5rem;
  display: flex;
  align-items: flex-end;
}

.toot header p  {
  margin: 0;
}

.avatar {
 border-radius: .25rem;
}

.toot header .display-name {
  font-size: 1rem;
}

.actions {
  display: flex;
  gap: .5rem;
}
.actions button {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray12);
  background-color: var(--gray3);
  border: 1px solid var(--gray6);
  border-radius: .25rem;
  padding: .25rem .5rem;

  display: flex;
  align-items: center;
  gap: .25rem;


}

.actions button:hover {
  color: var(--gray11);
  background-color: var(--gray4);
  border-color: var(--gray8);
}

.actions button:active {
  background-color: var(--yellow5);
  border-color: var(--yellow7);
}

.gallery img, .gallery video {
  max-width: 60%;
  height: auto;
  border-radius: .25rem;
}



.user-profile > div {
  padding-block: .5rem;
  padding-inline: var(--offset-start) var(--offset-end);
  border-block-end: 1px solid var(--gray6);
}
  
.profile-header .name {
  padding-block: .5rem;
  padding-inline: var(--offset-start) var(--offset-end);
  display: flex;
  align-items: flex-end;
  gap: .5rem;
}  

.profile-header h1 {
  font-size: 1.25rem;
  margin: 0;
}

.header-image {
  height: 25vh;
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}

